<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HIC.Logging.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HIC.Logging.Tests.Properties.Settings>
      <setting name="TestLoggingDatabaseConnection" serializeAs="String">
        <value>${logging.test.connection.string}</value>
      </setting>
    </HIC.Logging.Tests.Properties.Settings>
  </userSettings>
</configuration>