<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="ColoredConsole" name="c"
            layout="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}. ${exception:format=toString}" />
    <target xsi:type="File" name="log4j" fileName="${basedir}/logs/${shortdate}-log4j.log" layout="${log4jxmlevent}" />
    <target xsi:type="File" name="simple" fileName="${basedir}/logs/${shortdate}-simple.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
    <target xsi:type="Network" name="u" address="udp4://localhost:878" layout="${log4jxmlevent}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="c" />
    <!--<logger name="*" minlevel="Trace" writeTo="log4j" />-->
    <logger name="*" minlevel="Trace" writeTo="simple" />
  </rules>
</nlog>