<configuration>
  <config>
    <add key="DefaultPushSource" value="C:\LocalNuGetFeed" />
  </config>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="DevSource" value="C:\LocalNuGetFeed" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>