# Auto detect text files and perform LF normalization

* text=auto
* eol=crlf

*.cs text eol=crlf diff=csharp
*.txt text eol=crlf
*.resx text eol=crlf

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary