<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Directory Id="ApplicationStartMenuDirectory"></Directory>
		<Directory Id="pub" Name="RDMP" FileSource="..\PublishWinForms"></Directory>
		<Icon Id="rdmp.ico" SourceFile="..\PublishWinForms\ResearchDataManagementPlatform.exe" />
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="ResearchDataManagementPlatform.exe" />
				<Shortcut Id="ApplicationDesktopShortcut"
		  Name="Research Data Management Platform (RDMP)"
		  Directory="DesktopFolder"
		  WorkingDirectory="pub"
		  Advertise="yes"
			Icon="rdmp.ico"/>
				<Shortcut Id="ApplicationUninstallShortcut"
						Name="Uninstall RDMP"
						Directory="ApplicationStartMenuDirectory"
						Target="[SystemFolder]msiexec.exe"
						Arguments="/x [ProductCode]"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
