--Version:1.0.0.0
--Description:Initial Creation Script
CREATE FUNCTION [dbo].[GetSoftwareVersion]()
	RETURNS nvarchar(50)
	AS
	BEGIN
		-- Return the result of the function
		RETURN (SELECT top 1 version from RoundhousE.Version order by version desc)
	END
GO
/****** Object:  Table [dbo].[CohortCustomColumn]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CohortCustomColumn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractableCohort_ID] [int] NOT NULL,
	[SelectSQL] [varchar](500) NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CohortCustomColumn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConfigurationProperties]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfigurationProperties](
	[Property] [varchar](500) NOT NULL,
	[Value] [varchar](500) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_ConfigurationProperties] PRIMARY KEY CLUSTERED 
(
	[Property] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CumulativeExtractionResults]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CumulativeExtractionResults](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractionConfiguration_ID] [int] NOT NULL,
	[ExtractableDataSet_ID] [int] NOT NULL,
	[DateOfExtraction] [datetime] NOT NULL,
	[Filename] [varchar](max) NULL,
	[RecordsExtracted] [int] NOT NULL,
	[DistinctReleaseIdentifiersEncountered] [int] NOT NULL,
	[FiltersUsed] [varchar](max) NULL,
	[Exception] [varchar](max) NULL,
	[SQLExecuted] [varchar](max) NULL,
	[CohortExtracted] [int] NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CumulativeExtractionResults] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DataUser]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Forename] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DataUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeployedExtractionFilter]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeployedExtractionFilter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WhereSQL] [varchar](max) NULL,
	[Description] [varchar](500) NULL,
	[Name] [varchar](100) NOT NULL,
	[FilterContainer_ID] [int] NULL,
	[IsMandatory] [bit] NOT NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
	[Order] [int] NOT NULL DEFAULT 0
 CONSTRAINT [PK_ExtractionFilter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeployedExtractionFilterParameter]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeployedExtractionFilterParameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractionFilter_ID] [int] NOT NULL,
	[ParameterSQL] [varchar](500) NULL,
	[Value] [varchar](max) NULL,
	[Comment] [varchar](500) NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExtractionFilterParameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExternalCohortTable]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExternalCohortTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[ServerName] [varchar](50) NULL,
	[DatabaseName] [varchar](250) NULL,
	[TableName] [varchar](500) NULL,
	[DefinitionTableName] [varchar](500) NULL,
	[PrivateIdentifierField] [varchar](1000) NULL,
	[ReleaseIdentifierField] [varchar](1000) NULL,
	[CustomTablesTableName] [varchar](500) NULL,
	[DefinitionTableForeignKeyField] [varchar](1000) NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExternalCohortTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtractableCohort]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractableCohort](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OverrideReleaseIdentifierSQL] [varchar](500) NULL,
	[ExternalCohortTable_ID] [int] NOT NULL,
	[OriginID] [int] NOT NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cohort] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtractableColumn]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractableColumn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractableDataSet_ID] [int] NOT NULL,
	[SelectSQL] [varchar](500) NULL,
	[Order] [int] NULL,
	[Alias] [varchar](100) NULL,
	[ExtractionConfiguration_ID] [int] NOT NULL,
	[CatalogueExtractionInformation_ID] [int] NULL,
	[HashOnDataRelease] [bit] NULL,
	[IsExtractionIdentifier] [bit] NOT NULL,
	[IsPrimaryKey] [bit] NOT NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExtractableColumn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtractableDataSet]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtractableDataSet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Catalogue_ID] [int] NULL,
	[DisableExtraction] [bit] NOT NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ExtractableDataSet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[ExtractableDataSetProject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Project_ID] [int] NOT NULL,
	[ExtractableDataSet_ID] [int] NOT NULL,
	CONSTRAINT [fk_ExtractableDataSetProject] FOREIGN KEY([ExtractableDataSet_ID])
 REFERENCES [dbo].[ExtractableDataSet] ([ID])
 ON DELETE CASCADE,
	CONSTRAINT [PK_ExtractableDataSetProject] PRIMARY KEY CLUSTERED(
		[Project_ID], [ExtractableDataSet_ID]	
	)
)
GO
/****** Object:  Table [dbo].[ExtractionConfiguration]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractionConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[dtCreated] [datetime] NULL,
	[Project_ID] [int] NULL,
	[Username] [varchar](50) NULL,
	[Cohort_ID] [int] NULL,
	[JIRARequestTicket] [varchar](10) NULL,
	[JIRAReleaseTicket] [varchar](10) NULL,
	[Separator] [varchar](3) NOT NULL,
	[Description] [varchar](5000) NULL,
	[IsReleased] [bit] NOT NULL,
	[ClonedFrom_ID] [int] NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
	[MostRecentCohortUsed_ID] [int] NULL,
 CONSTRAINT [PK_ExtractionConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FilterContainer]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FilterContainer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [varchar](10) NULL,
 CONSTRAINT [PK_FilterContainer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FilterContainerSubcontainers]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterContainerSubcontainers](
	[FilterContainer_ParentID] [int] NOT NULL,
	[FilterContainerChildID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GlobalExtractionFilterParameter]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GlobalExtractionFilterParameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractionConfiguration_ID] [int] NULL,
	[Value] [varchar](500) NULL,
	[ParameterSQL] [varchar](500) NULL,
	[Comment] [varchar](500) NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GlobalExtractionFilterParameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[Name] [varchar](300) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JIRAMasterTicket] [varchar](10) NULL,
	[ExtractionDirectory] [varchar](300) NULL,
	[ProjectNumber] [int] NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project_DataUser]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_DataUser](
	[Project_ID] [int] NOT NULL,
	[DataUser_ID] [int] NOT NULL,
 CONSTRAINT [PK_Project_DataUser] PRIMARY KEY CLUSTERED 
(
	[Project_ID] ASC,
	[DataUser_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReleaseLog]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReleaseLog](
	[CumulativeExtractionResults_ID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[DateOfRelease] [datetime] NOT NULL,
	[MD5OfDatasetFile] [varchar](256) NOT NULL,
	[DatasetState] [varchar](100) NOT NULL,
	[EnvironmentState] [varchar](500) NOT NULL,
	[IsPatch] [bit] NOT NULL,
	[ReleaseFolder] [varchar](max) NOT NULL,
	[SoftwareVersion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReleaseLog] PRIMARY KEY CLUSTERED 
(
	[CumulativeExtractionResults_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SelectedDataSets]    Script Date: 10/06/2015 11:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedDataSets](
	[ExtractionConfiguration_ID] [int] NOT NULL,
	[ExtractableDataSet_ID] [int] NOT NULL,
	[RootFilterContainer_ID] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CohortCustomColumn] ADD  CONSTRAINT [DF_CohortCustomColumn_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] ADD  CONSTRAINT [DF_CumulativeExtractionResults_DateOfExtraction]  DEFAULT (getdate()) FOR [DateOfExtraction]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] ADD  CONSTRAINT [DF_CumulativeExtractionResults_RecordsExtracted]  DEFAULT ((0)) FOR [RecordsExtracted]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] ADD  CONSTRAINT [DF_CumulativeExtractionResults_DistinctReleaseIdentifiersEncountered]  DEFAULT ((0)) FOR [DistinctReleaseIdentifiersEncountered]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] ADD  CONSTRAINT [DF_CumulativeExtractionResults_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[DataUser] ADD  CONSTRAINT [DF_DataUser_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[DeployedExtractionFilter] ADD  CONSTRAINT [DF_DeployedExtractionFilter_IsMandatory]  DEFAULT ((0)) FOR [IsMandatory]
GO
ALTER TABLE [dbo].[DeployedExtractionFilter] ADD  CONSTRAINT [DF_DeployedExtractionFilter_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[DeployedExtractionFilterParameter] ADD  CONSTRAINT [DF_DeployedExtractionFilterParameter_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ExternalCohortTable] ADD  CONSTRAINT [DF_ExternalCohortTable_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ExtractableCohort] ADD  CONSTRAINT [DF_ExtractableCohort_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ExtractableColumn] ADD  CONSTRAINT [DF_ExtractableColumn_HashOnDataRelease]  DEFAULT ((0)) FOR [HashOnDataRelease]
GO
ALTER TABLE [dbo].[ExtractableColumn] ADD  CONSTRAINT [DF_ExtractableColumn_IsExtractionIdentifier]  DEFAULT ((0)) FOR [IsExtractionIdentifier]
GO
ALTER TABLE [dbo].[ExtractableColumn] ADD  CONSTRAINT [DF_ExtractableColumn_IsPrimaryKey]  DEFAULT ((0)) FOR [IsPrimaryKey]
GO
ALTER TABLE [dbo].[ExtractableColumn] ADD  CONSTRAINT [DF_ExtractableColumn_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ExtractableDataSet] ADD  CONSTRAINT [DF_ExtractableDataSet_DisableExtraction]  DEFAULT ((0)) FOR [DisableExtraction]
GO
ALTER TABLE [dbo].[ExtractableDataSet] ADD  CONSTRAINT [DF_ExtractableDataSet_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ExtractionConfiguration] ADD  CONSTRAINT [DF_ExtractionConfiguration_Separator]  DEFAULT (',') FOR [Separator]
GO
ALTER TABLE [dbo].[ExtractionConfiguration] ADD  CONSTRAINT [DF_ExtractionConfiguration_IsReleased]  DEFAULT ((0)) FOR [IsReleased]
GO
ALTER TABLE [dbo].[ExtractionConfiguration] ADD  CONSTRAINT [DF_ExtractionConfiguration_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[GlobalExtractionFilterParameter] ADD  CONSTRAINT [DF_GlobalExtractionFilterParameter_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[ReleaseLog] ADD  CONSTRAINT [DF_ReleaseLog_SoftwareVersion]  DEFAULT ([dbo].[GetSoftwareVersion]()) FOR [SoftwareVersion]
GO
ALTER TABLE [dbo].[CohortCustomColumn]  WITH CHECK ADD  CONSTRAINT [FK_CohortCustomColumn_Cohort] FOREIGN KEY([ExtractableCohort_ID])
REFERENCES [dbo].[ExtractableCohort] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CohortCustomColumn] CHECK CONSTRAINT [FK_CohortCustomColumn_Cohort]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults]  WITH CHECK ADD  CONSTRAINT [FK_CumulativeExtractionResults_ExtractableDataSet] FOREIGN KEY([ExtractableDataSet_ID])
REFERENCES [dbo].[ExtractableDataSet] ([ID])
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] CHECK CONSTRAINT [FK_CumulativeExtractionResults_ExtractableDataSet]
GO
ALTER TABLE [dbo].[CumulativeExtractionResults]  WITH CHECK ADD  CONSTRAINT [FK_CumulativeExtractionResults_ExtractionConfiguration] FOREIGN KEY([ExtractionConfiguration_ID])
REFERENCES [dbo].[ExtractionConfiguration] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CumulativeExtractionResults] CHECK CONSTRAINT [FK_CumulativeExtractionResults_ExtractionConfiguration]
GO
ALTER TABLE [dbo].[DeployedExtractionFilter]  WITH CHECK ADD  CONSTRAINT [FK_ExtractionFilter_FilterContainer] FOREIGN KEY([FilterContainer_ID])
REFERENCES [dbo].[FilterContainer] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DeployedExtractionFilter] CHECK CONSTRAINT [FK_ExtractionFilter_FilterContainer]
GO
ALTER TABLE [dbo].[DeployedExtractionFilterParameter]  WITH CHECK ADD  CONSTRAINT [FK_ExtractionFilterParameter_ExtractionFilter] FOREIGN KEY([ExtractionFilter_ID])
REFERENCES [dbo].[DeployedExtractionFilter] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeployedExtractionFilterParameter] CHECK CONSTRAINT [FK_ExtractionFilterParameter_ExtractionFilter]
GO
ALTER TABLE [dbo].[ExtractableCohort]  WITH CHECK ADD  CONSTRAINT [FK_ExtractableCohort_ExternalCohortTable] FOREIGN KEY([ExternalCohortTable_ID])
REFERENCES [dbo].[ExternalCohortTable] ([ID])
GO
ALTER TABLE [dbo].[ExtractableCohort] CHECK CONSTRAINT [FK_ExtractableCohort_ExternalCohortTable]
GO
ALTER TABLE [dbo].[ExtractableColumn]  WITH CHECK ADD  CONSTRAINT [FK_ExtractableColumn_ExtractableDataSet] FOREIGN KEY([ExtractableDataSet_ID])
REFERENCES [dbo].[ExtractableDataSet] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExtractableColumn] CHECK CONSTRAINT [FK_ExtractableColumn_ExtractableDataSet]
GO
ALTER TABLE [dbo].[ExtractableColumn]  WITH CHECK ADD  CONSTRAINT [FK_ExtractableColumn_ExtractionConfiguration] FOREIGN KEY([ExtractionConfiguration_ID])
REFERENCES [dbo].[ExtractionConfiguration] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExtractableColumn] CHECK CONSTRAINT [FK_ExtractableColumn_ExtractionConfiguration]
GO
ALTER TABLE [dbo].[ExtractionConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_ExtractionConfiguration_Cohort] FOREIGN KEY([Cohort_ID])
REFERENCES [dbo].[ExtractableCohort] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ExtractionConfiguration] CHECK CONSTRAINT [FK_ExtractionConfiguration_Cohort]
GO
ALTER TABLE [dbo].[ExtractionConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_ExtractionConfiguration_Project] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExtractionConfiguration] CHECK CONSTRAINT [FK_ExtractionConfiguration_Project]
GO
ALTER TABLE [dbo].[FilterContainerSubcontainers]  WITH CHECK ADD  CONSTRAINT [FK_FilterContainerSubcontainers_FilterContainer] FOREIGN KEY([FilterContainer_ParentID])
REFERENCES [dbo].[FilterContainer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilterContainerSubcontainers] CHECK CONSTRAINT [FK_FilterContainerSubcontainers_FilterContainer]
GO
ALTER TABLE [dbo].[GlobalExtractionFilterParameter]  WITH CHECK ADD  CONSTRAINT [FK_GlobalExtractionFilterParameter_ExtractionConfiguration] FOREIGN KEY([ExtractionConfiguration_ID])
REFERENCES [dbo].[ExtractionConfiguration] ([ID])
GO
ALTER TABLE [dbo].[GlobalExtractionFilterParameter] CHECK CONSTRAINT [FK_GlobalExtractionFilterParameter_ExtractionConfiguration]
GO
ALTER TABLE [dbo].[Project_DataUser]  WITH CHECK ADD  CONSTRAINT [FK_Project_DataUser_DataUser] FOREIGN KEY([DataUser_ID])
REFERENCES [dbo].[DataUser] ([ID])
GO
ALTER TABLE [dbo].[Project_DataUser] CHECK CONSTRAINT [FK_Project_DataUser_DataUser]
GO
ALTER TABLE [dbo].[Project_DataUser]  WITH CHECK ADD  CONSTRAINT [FK_Project_DataUser_Project] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Project_DataUser] CHECK CONSTRAINT [FK_Project_DataUser_Project]
GO
ALTER TABLE [dbo].[ReleaseLog]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseLog_CumulativeExtractionResults] FOREIGN KEY([CumulativeExtractionResults_ID])
REFERENCES [dbo].[CumulativeExtractionResults] ([ID])
GO
ALTER TABLE [dbo].[ReleaseLog] CHECK CONSTRAINT [FK_ReleaseLog_CumulativeExtractionResults]
GO
ALTER TABLE [dbo].[SelectedDataSets]  WITH CHECK ADD  CONSTRAINT [FK_SelectedDataSets_ExtractableDataSet] FOREIGN KEY([ExtractableDataSet_ID])
REFERENCES [dbo].[ExtractableDataSet] ([ID])
GO
ALTER TABLE [dbo].[SelectedDataSets] CHECK CONSTRAINT [FK_SelectedDataSets_ExtractableDataSet]
GO
ALTER TABLE [dbo].[SelectedDataSets]  WITH CHECK ADD  CONSTRAINT [FK_SelectedDataSets_ExtractionConfiguration] FOREIGN KEY([ExtractionConfiguration_ID])
REFERENCES [dbo].[ExtractionConfiguration] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SelectedDataSets] CHECK CONSTRAINT [FK_SelectedDataSets_ExtractionConfiguration]
GO
ALTER TABLE [dbo].[SelectedDataSets]  WITH CHECK ADD  CONSTRAINT [FK_SelectedDataSets_FilterContainer] FOREIGN KEY([RootFilterContainer_ID])
REFERENCES [dbo].[FilterContainer] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SelectedDataSets] CHECK CONSTRAINT [FK_SelectedDataSets_FilterContainer]
GO


CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
GO


EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO

  SET IDENTITY_INSERT sysdiagrams ON
