<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RDMPAutomationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.65535.65535.65535" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WeifenLuo.WinFormsUI.Docking" publicKeyToken="5cded1a1a0a7b481" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.65535.65535.65535" newVersion="8.0.14.0" />
            </dependentAssembly>
            <dependentAssembly>
                <publisherPolicy apply="no" />
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
                <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets async="true">
            <target xsi:type="ColoredConsole" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
            <target xsi:type="File" name="log4j" fileName="${basedir}/logs/${shortdate}-log4j.log" layout="${log4jxmlevent}" />
            <target xsi:type="File" name="simple" fileName="${basedir}/logs/${shortdate}-simple.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
            <target xsi:type="Network" name="u" address="udp4://localhost:878" layout="${log4jxmlevent}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="console" />
            <logger name="*" minlevel="Trace" writeTo="log4j" />
            <logger name="*" minlevel="Trace" writeTo="simple" />
        </rules>
    </nlog>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        </DbProviderFactories>
    </system.data>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    <applicationSettings>
        <RDMPAutomationService.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost\sqlexpress</value>
            </setting>
            <setting name="CatalogueDB" serializeAs="String">
                <value>RDMP_Catalogue</value>
            </setting>
            <setting name="DataExportDB" serializeAs="String">
                <value>RDMP_DataExport</value>
            </setting>
        </RDMPAutomationService.Properties.Settings>
    </applicationSettings>
</configuration>
