<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.1" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="HIC.FAnsiSql" version="0.9.0.7" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.14" targetFramework="net452" />
  <package id="NPOI" version="2.4.1" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net452" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
</packages>