<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.11.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.3" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
</packages>