<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

 

<Product Id="*"
  UpgradeCode="38DD4009-7F0A-4D2C-B7C8-316305177987"
  Version="$(var.Version)"
  Language="1033"
  Name="Research Data Management Platform"
  Manufacturer="HIC, University of Dundee">

 

<Package InstallerVersion="300" Compressed="yes"/>
<Media Id="1" Cabinet="rdmp.cab" EmbedCab="yes" CompressionLevel="high" />

<Directory Id="TARGETDIR" Name="SourceDir">
<Directory Id="ProgramMenuFolder"/>
<Directory Id="ApplicationStartMenuDirectory"></Directory>
<Directory Id="ApplicationProgramsFolder" />
<Directory Id="DesktopFolder" />
<Directory Id="ProgramFiles64Folder">
            <Directory Id="pub" Name="RDMP" FileSource="..\PublishWinForms">
                <Component Id="ResearchDataManagementPlatform.exe" Guid="C16CA8A9-FEEC-4095-8453-FC595B31B3B2">
                    <File Id="ResearchDataManagementPlatform.exe" KeyPath="yes" Name="ResearchDataManagementPlatform.exe" />
					        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Research Data Management Platform (RDMP)"
                  Directory="ProgramMenuFolder"
                  WorkingDirectory="pub"
				  Advertise="yes"
                  Icon="rdmp.ico"/>
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Research Data Management Platform (RDMP)"
                  Directory="DesktopFolder"
                  WorkingDirectory="pub"
				  Advertise="yes"
                    Icon="rdmp.ico"/>
                </Component>
            </Directory>
</Directory>
</Directory>
					<Icon Id="rdmp.ico" SourceFile="..\PublishWinForms\ResearchDataManagementPlatform.exe" />

<DirectoryRef Id="ApplicationStartMenuDirectory">
    <Component Id="ApplicationShortcuts" Guid="9E272B87-45D3-4F10-B7FC-C1989097313B">
        <!--<Shortcut Id="ApplicationUninstallShortcut"
                  Name="Uninstall RDMP"
                  Directory="ApplicationStartMenuDirectory"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/> -->
        <RemoveFolder Id="ApplicationStartMenuDirectory" On="uninstall"/>
    </Component>
</DirectoryRef>


<Feature Id="MainApplication" Title="Main Application" Level="1">
<ComponentRef Id="ApplicationShortcuts"/>
            <ComponentRef Id="ResearchDataManagementPlatform.exe" />
</Feature>

<Property Id="ARPPRODUCTICON" Value="rdmp.ico" />
<Property Id="WixAppFolder" Value="WixPerUserFolder" />

<MajorUpgrade DowngradeErrorMessage="A newer version of RDMP is already installed." />

<Upgrade Id="CB0B0E32-1703-4661-A25A-D33D0B7FE4F5">
   <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="$(var.Version)" IncludeMaximum="yes" />
</Upgrade>

<!--<InstallExecuteSequence>
  <RemoveExistingProducts After="InstallInitialize" />
</InstallExecuteSequence>-->

<util:CloseApplication Id="CloseApplication" Target="[dir5C9B5A0C45E6936E7334A1337C6A9713]node.exe"/>

</Product>

</Wix>