<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="d83ec058-0747-4a52-be03-b15d4861590f" Name="RDMP" Language="1033" Version="1.0.0.0" Manufacturer="Health Informatics Centre University of Dundee" UpgradeCode="5f71fa64-3c70-4b19-ab8d-04a9a6958fac">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />
        <Feature Id="ProductFeature" Title="RDMPInstaller" Level="1">
            <ComponentGroupRef Id="RDMPComponents" />
        </Feature>
        <Icon Id="CatalogueManager.ico" SourceFile="CatalogueManager.ico" />
        
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
      
        <UIRef Id="MyWixUI_InstallDir"/>
        <UI />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="RDMP">
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RDMPComponents" Directory="INSTALLFOLDER">
          <Component Id ="DesktopShortcut" Guid="229c8782-909a-482c-8ebc-5496af545f76">
            <Condition>INSTALLDESKTOPSHORTCUT</Condition>
            <RegistryValue Root="HKCU" Key="Software\HIC\RDMPShortcuts" Type="string" Value="" KeyPath="yes" />
            <Shortcut Id="RDMP" Directory="DesktopFolder" Name="RDMP" WorkingDirectory="INSTALLFOLDER" Icon="CatalogueManager.ico" Target="[INSTALLFOLDER]ResearchDataManagementPlatform.exe" Advertise ="no"/>
            </Component>
          
          <!-- To generate this list of files run RDMPInstallerBinDirLister -->
            <Component Id="RDMPComponentsFiles" Guid="494aed56-67a3-4f6e-88a5-541966daff4a">
                <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\HIC\RDMP" Type="string" Value="" KeyPath="yes" />
              <File Id="ANOSTORE.DATABASE.DLL" Name="ANOStore.Database.dll" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.Database.dll" />
              <File Id="ANOSTORE.DATABASE.PDB" Name="ANOStore.Database.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.Database.pdb" />
              <File Id="ANOSTORE.DATABASE.XML" Name="ANOStore.Database.xml" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.Database.xml" />
              <File Id="ANOSTORE.DLL" Name="ANOStore.dll" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.dll" />
              <File Id="ANOSTORE.PDB" Name="ANOStore.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.pdb" />
              <File Id="ANOSTORE.XML" Name="ANOStore.xml" Source="..\Anonymisation\ANOStore\bin\Debug\ANOStore.xml" />
              <File Id="CACHINGENGINE.DLL" Name="CachingEngine.dll" Source="..\Anonymisation\ANOStore\bin\Debug\CachingEngine.dll" />
              <File Id="CACHINGENGINE.PDB" Name="CachingEngine.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\CachingEngine.pdb" />
              <File Id="CACHINGENGINE.XML" Name="CachingEngine.xml" Source="..\Anonymisation\ANOStore\bin\Debug\CachingEngine.xml" />
              <File Id="CATALOGUELIBRARY.DLL" Name="CatalogueLibrary.dll" Source="..\Anonymisation\ANOStore\bin\Debug\CatalogueLibrary.dll" />
              <File Id="CATALOGUELIBRARY.PDB" Name="CatalogueLibrary.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\CatalogueLibrary.pdb" />
              <File Id="CATALOGUELIBRARY.XML" Name="CatalogueLibrary.xml" Source="..\Anonymisation\ANOStore\bin\Debug\CatalogueLibrary.xml" />
              <File Id="COHORTMANAGERLIBRARY.DLL" Name="CohortManagerLibrary.dll" Source="..\Anonymisation\ANOStore\bin\Debug\CohortManagerLibrary.dll" />
              <File Id="COHORTMANAGERLIBRARY.PDB" Name="CohortManagerLibrary.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\CohortManagerLibrary.pdb" />
              <File Id="COHORTMANAGERLIBRARY.XML" Name="CohortManagerLibrary.xml" Source="..\Anonymisation\ANOStore\bin\Debug\CohortManagerLibrary.xml" />
              <File Id="COMMANDLINE.DLL" Name="CommandLine.dll" Source="..\Anonymisation\ANOStore\bin\Debug\CommandLine.dll" />
              <File Id="COMMANDLINE.XML" Name="CommandLine.xml" Source="..\Anonymisation\ANOStore\bin\Debug\CommandLine.xml" />
              <File Id="DATAEXPORTLIBRARY.DLL" Name="DataExportLibrary.dll" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.dll" />
              <File Id="DATAEXPORTLIBRARY.INTERFACES.DLL" Name="DataExportLibrary.Interfaces.dll" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.Interfaces.dll" />
              <File Id="DATAEXPORTLIBRARY.INTERFACES.PDB" Name="DataExportLibrary.Interfaces.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.Interfaces.pdb" />
              <File Id="DATAEXPORTLIBRARY.INTERFACES.XML" Name="DataExportLibrary.Interfaces.xml" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.Interfaces.xml" />
              <File Id="DATAEXPORTLIBRARY.PDB" Name="DataExportLibrary.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.pdb" />
              <File Id="DATAEXPORTLIBRARY.XML" Name="DataExportLibrary.xml" Source="..\Anonymisation\ANOStore\bin\Debug\DataExportLibrary.xml" />
              <File Id="DATALOADENGINE.DLL" Name="DataLoadEngine.dll" Source="..\Anonymisation\ANOStore\bin\Debug\DataLoadEngine.dll" />
              <File Id="DATALOADENGINE.PDB" Name="DataLoadEngine.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\DataLoadEngine.pdb" />
              <File Id="DATALOADENGINE.XML" Name="DataLoadEngine.xml" Source="..\Anonymisation\ANOStore\bin\Debug\DataLoadEngine.xml" />
              <File Id="GOOGLE.PROTOBUF.DLL" Name="Google.Protobuf.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Google.Protobuf.dll" />
              <File Id="GOOGLE.PROTOBUF.XML" Name="Google.Protobuf.xml" Source="..\Anonymisation\ANOStore\bin\Debug\Google.Protobuf.xml" />
              <File Id="HIC.COMMON.VALIDATION.DLL" Name="HIC.Common.Validation.dll" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Common.Validation.dll" />
              <File Id="HIC.COMMON.VALIDATION.PDB" Name="HIC.Common.Validation.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Common.Validation.pdb" />
              <File Id="HIC.COMMON.VALIDATION.XML" Name="HIC.Common.Validation.xml" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Common.Validation.xml" />
              <File Id="HIC.LOGGING.DATABASE.DLL" Name="HIC.Logging.Database.dll" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.Database.dll" />
              <File Id="HIC.LOGGING.DATABASE.PDB" Name="HIC.Logging.Database.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.Database.pdb" />
              <File Id="HIC.LOGGING.DATABASE.XML" Name="HIC.Logging.Database.xml" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.Database.xml" />
              <File Id="HIC.LOGGING.DLL" Name="HIC.Logging.dll" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.dll" />
              <File Id="HIC.LOGGING.PDB" Name="HIC.Logging.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.pdb" />
              <File Id="HIC.LOGGING.XML" Name="HIC.Logging.xml" Source="..\Anonymisation\ANOStore\bin\Debug\HIC.Logging.xml" />
              <File Id="ICSHARPCODE.SHARPZIPLIB.DLL" Name="ICSharpCode.SharpZipLib.dll" Source="..\Anonymisation\ANOStore\bin\Debug\ICSharpCode.SharpZipLib.dll" />
              <File Id="MAPSDIRECTLYTODATABASETABLE.DLL" Name="MapsDirectlyToDatabaseTable.dll" Source="..\Anonymisation\ANOStore\bin\Debug\MapsDirectlyToDatabaseTable.dll" />
              <File Id="MAPSDIRECTLYTODATABASETABLE.PDB" Name="MapsDirectlyToDatabaseTable.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\MapsDirectlyToDatabaseTable.pdb" />
              <File Id="MAPSDIRECTLYTODATABASETABLE.XML" Name="MapsDirectlyToDatabaseTable.xml" Source="..\Anonymisation\ANOStore\bin\Debug\MapsDirectlyToDatabaseTable.xml" />
              <File Id="MYSQL.DATA.DLL" Name="MySql.Data.dll" Source="..\Anonymisation\ANOStore\bin\Debug\MySql.Data.dll" />
              <File Id="MYSQL.DATA.XML" Name="MySql.Data.xml" Source="..\Anonymisation\ANOStore\bin\Debug\MySql.Data.xml" />
              <File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Newtonsoft.Json.dll" />
              <File Id="NEWTONSOFT.JSON.XML" Name="Newtonsoft.Json.xml" Source="..\Anonymisation\ANOStore\bin\Debug\Newtonsoft.Json.xml" />
              <File Id="NLOG.DLL" Name="NLog.dll" Source="..\Anonymisation\ANOStore\bin\Debug\NLog.dll" />
              <File Id="NLOG.XML" Name="NLog.xml" Source="..\Anonymisation\ANOStore\bin\Debug\NLog.xml" />
              <File Id="ORACLE.MANAGEDDATAACCESS.DLL" Name="Oracle.ManagedDataAccess.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Oracle.ManagedDataAccess.dll" />
              <File Id="PENCIL.CUR" Name="Pencil.cur" Source="..\Anonymisation\ANOStore\bin\Debug\Pencil.cur" />
              <File Id="PLUGIN.SETTINGS.ABSTRACTIONS.DLL" Name="Plugin.Settings.Abstractions.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Plugin.Settings.Abstractions.dll" />
              <File Id="PLUGIN.SETTINGS.ABSTRACTIONS.PDB" Name="Plugin.Settings.Abstractions.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\Plugin.Settings.Abstractions.pdb" />
              <File Id="PLUGIN.SETTINGS.ABSTRACTIONS.XML" Name="Plugin.Settings.Abstractions.xml" Source="..\Anonymisation\ANOStore\bin\Debug\Plugin.Settings.Abstractions.xml" />
              <File Id="QUERYCACHING.DATABASE.DLL" Name="QueryCaching.Database.dll" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.Database.dll" />
              <File Id="QUERYCACHING.DATABASE.PDB" Name="QueryCaching.Database.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.Database.pdb" />
              <File Id="QUERYCACHING.DATABASE.XML" Name="QueryCaching.Database.xml" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.Database.xml" />
              <File Id="QUERYCACHING.DLL" Name="QueryCaching.dll" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.dll" />
              <File Id="QUERYCACHING.PDB" Name="QueryCaching.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.pdb" />
              <File Id="QUERYCACHING.XML" Name="QueryCaching.xml" Source="..\Anonymisation\ANOStore\bin\Debug\QueryCaching.xml" />
              <File Id="REUSABLELIBRARYCODE.DLL" Name="ReusableLibraryCode.dll" Source="..\Anonymisation\ANOStore\bin\Debug\ReusableLibraryCode.dll" />
              <File Id="REUSABLELIBRARYCODE.PDB" Name="ReusableLibraryCode.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\ReusableLibraryCode.pdb" />
              <File Id="REUSABLELIBRARYCODE.XML" Name="ReusableLibraryCode.xml" Source="..\Anonymisation\ANOStore\bin\Debug\ReusableLibraryCode.xml" />
              <File Id="SHARING.DLL" Name="Sharing.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Sharing.dll" />
              <File Id="SHARING.PDB" Name="Sharing.pdb" Source="..\Anonymisation\ANOStore\bin\Debug\Sharing.pdb" />
              <File Id="XCEED.WORDS.NET.DLL" Name="Xceed.Words.NET.dll" Source="..\Anonymisation\ANOStore\bin\Debug\Xceed.Words.NET.dll" />
              <File Id="IDENTIFIERDUMP.DATABASE.DLL" Name="IdentifierDump.Database.dll" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.Database.dll" />
              <File Id="IDENTIFIERDUMP.DATABASE.PDB" Name="IdentifierDump.Database.pdb" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.Database.pdb" />
              <File Id="IDENTIFIERDUMP.DATABASE.XML" Name="IdentifierDump.Database.xml" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.Database.xml" />
              <File Id="IDENTIFIERDUMP.DLL" Name="IdentifierDump.dll" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.dll" />
              <File Id="IDENTIFIERDUMP.PDB" Name="IdentifierDump.pdb" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.pdb" />
              <File Id="IDENTIFIERDUMP.XML" Name="IdentifierDump.xml" Source="..\Anonymisation\IdentifierDump\bin\Debug\IdentifierDump.xml" />
              <File Id="CATALOGUELIBRARY.DATABASE.DLL" Name="CatalogueLibrary.Database.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueLibrary.Database.dll" />
              <File Id="CATALOGUELIBRARY.DATABASE.PDB" Name="CatalogueLibrary.Database.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueLibrary.Database.pdb" />
              <File Id="CATALOGUELIBRARY.DATABASE.XML" Name="CatalogueLibrary.Database.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueLibrary.Database.xml" />
              <File Id="CATALOGUEMANAGER.DLL" Name="CatalogueManager.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.dll" />
              <File Id="CATALOGUEMANAGER.PDB" Name="CatalogueManager.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.pdb" />
              <File Id="CATALOGUEMANAGER.XML" Name="CatalogueManager.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.xml" />
              <File Id="COHORTMANAGER.DLL" Name="CohortManager.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CohortManager.dll" />
              <File Id="COHORTMANAGER.PDB" Name="CohortManager.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CohortManager.pdb" />
              <File Id="COHORTMANAGER.XML" Name="CohortManager.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CohortManager.xml" />
              <File Id="CSVHELPER.DLL" Name="CsvHelper.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CsvHelper.dll" />
              <File Id="CSVHELPER.PDB" Name="CsvHelper.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CsvHelper.pdb" />
              <File Id="CSVHELPER.XML" Name="CsvHelper.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CsvHelper.xml" />
              <File Id="DASHBOARD.DLL" Name="Dashboard.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Dashboard.dll" />
              <File Id="DASHBOARD.PDB" Name="Dashboard.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Dashboard.pdb" />
              <File Id="DASHBOARD.XML" Name="Dashboard.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Dashboard.xml" />
              <File Id="DATABASECREATION.EXE" Name="DatabaseCreation.exe" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DatabaseCreation.exe" />
              <File Id="DATABASECREATION.PDB" Name="DatabaseCreation.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DatabaseCreation.pdb" />
              <File Id="DATABASECREATION.XML" Name="DatabaseCreation.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DatabaseCreation.xml" />
              <File Id="DATAEXPORTLIBRARY.DATABASE.DLL" Name="DataExportLibrary.Database.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportLibrary.Database.dll" />
              <File Id="DATAEXPORTLIBRARY.DATABASE.PDB" Name="DataExportLibrary.Database.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportLibrary.Database.pdb" />
              <File Id="DATAEXPORTLIBRARY.DATABASE.XML" Name="DataExportLibrary.Database.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportLibrary.Database.xml" />
              <File Id="DATAEXPORTMANAGER.DLL" Name="DataExportManager.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportManager.dll" />
              <File Id="DATAEXPORTMANAGER.PDB" Name="DataExportManager.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportManager.pdb" />
              <File Id="DATAEXPORTMANAGER.XML" Name="DataExportManager.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataExportManager.xml" />
              <File Id="DATAQUALITYENGINE.DATABASE.DLL" Name="DataQualityEngine.Database.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.Database.dll" />
              <File Id="DATAQUALITYENGINE.DATABASE.PDB" Name="DataQualityEngine.Database.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.Database.pdb" />
              <File Id="DATAQUALITYENGINE.DATABASE.XML" Name="DataQualityEngine.Database.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.Database.xml" />
              <File Id="DATAQUALITYENGINE.DLL" Name="DataQualityEngine.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.dll" />
              <File Id="DATAQUALITYENGINE.PDB" Name="DataQualityEngine.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.pdb" />
              <File Id="DATAQUALITYENGINE.XML" Name="DataQualityEngine.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\DataQualityEngine.xml" />
              <File Id="DIAGNOSTICS.DLL" Name="Diagnostics.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Diagnostics.dll" />
              <File Id="DIAGNOSTICS.PDB" Name="Diagnostics.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Diagnostics.pdb" />
              <File Id="DIAGNOSTICS.XML" Name="Diagnostics.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Diagnostics.xml" />
              <File Id="GRAPHX.CONTROLS.DLL" Name="GraphX.Controls.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\GraphX.Controls.dll" />
              <File Id="GRAPHX.PCL.COMMON.DLL" Name="GraphX.PCL.Common.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\GraphX.PCL.Common.dll" />
              <File Id="GRAPHX.PCL.LOGIC.DLL" Name="GraphX.PCL.Logic.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\GraphX.PCL.Logic.dll" />
              <File Id="LOADMODULES.GENERIC.DLL" Name="LoadModules.Generic.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.Generic.dll" />
              <File Id="LOADMODULES.GENERIC.PDB" Name="LoadModules.Generic.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.Generic.pdb" />
              <File Id="LOADMODULES.GENERIC.XML" Name="LoadModules.Generic.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.Generic.xml" />
              <File Id="LOADMODULES.GENERICUIS.DLL" Name="LoadModules.GenericUIs.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.GenericUIs.dll" />
              <File Id="LOADMODULES.GENERICUIS.PDB" Name="LoadModules.GenericUIs.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.GenericUIs.pdb" />
              <File Id="LOADMODULES.GENERICUIS.XML" Name="LoadModules.GenericUIs.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\LoadModules.GenericUIs.xml" />
              <File Id="MAPSDIRECTLYTODATABASETABLEUI.DLL" Name="MapsDirectlyToDatabaseTableUI.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\MapsDirectlyToDatabaseTableUI.dll" />
              <File Id="MAPSDIRECTLYTODATABASETABLEUI.PDB" Name="MapsDirectlyToDatabaseTableUI.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\MapsDirectlyToDatabaseTableUI.pdb" />
              <File Id="MAPSDIRECTLYTODATABASETABLEUI.XML" Name="MapsDirectlyToDatabaseTableUI.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\MapsDirectlyToDatabaseTableUI.xml" />
              <File Id="MONO.REFLECTION.DLL" Name="Mono.Reflection.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Mono.Reflection.dll" />
              <File Id="OBJECTLISTVIEW.DLL" Name="ObjectListView.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ObjectListView.dll" />
              <File Id="OBJECTLISTVIEW.XML" Name="ObjectListView.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ObjectListView.xml" />
              <File Id="PLUGINPACKAGER.EXE" Name="PluginPackager.exe" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\PluginPackager.exe" />
              <File Id="PLUGINPACKAGER.PDB" Name="PluginPackager.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\PluginPackager.pdb" />
              <File Id="PLUGINPACKAGER.XML" Name="PluginPackager.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\PluginPackager.xml" />
              <File Id="QUICKGRAPH.DLL" Name="QuickGraph.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\QuickGraph.dll" />
              <File Id="QUICKGRAPH.XML" Name="QuickGraph.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\QuickGraph.xml" />
              <File Id="RDMPAUTOMATIONSERVICE.EXE" Name="RDMPAutomationService.exe" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPAutomationService.exe" />
              <File Id="RDMPAUTOMATIONSERVICE.EXE.CONFIG" Name="RDMPAutomationService.exe.config" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPAutomationService.exe.config" />
              <File Id="RDMPAUTOMATIONSERVICE.PDB" Name="RDMPAutomationService.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPAutomationService.pdb" />
              <File Id="RDMPAUTOMATIONSERVICE.XML" Name="RDMPAutomationService.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPAutomationService.xml" />
              <File Id="CatalogueManager.PipelineUIs.DLL" Name="CatalogueManager.PipelineUIs.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.PipelineUIs.dll" />
              <File Id="CatalogueManager.PipelineUIs.PDB" Name="CatalogueManager.PipelineUIs.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.PipelineUIs.pdb" />
              <File Id="CatalogueManager.PipelineUIs.XML" Name="CatalogueManager.PipelineUIs.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\CatalogueManager.PipelineUIs.xml" />
              <File Id="RDMPSTARTUP.DLL" Name="RDMPStartup.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPStartup.dll" />
              <File Id="RDMPSTARTUP.PDB" Name="RDMPStartup.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPStartup.pdb" />
              <File Id="RDMPSTARTUP.XML" Name="RDMPStartup.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\RDMPStartup.xml" />
              <File Id="RENCI.SSHNET.DLL" Name="Renci.SshNet.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Renci.SshNet.dll" />
              <File Id="RENCI.SSHNET.XML" Name="Renci.SshNet.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\Renci.SshNet.xml" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.APPLICATION" Name="ResearchDataManagementPlatform.application" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.application" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.EXE" Name="ResearchDataManagementPlatform.exe" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.exe" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.EXE.CONFIG" Name="ResearchDataManagementPlatform.exe.config" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.exe.config" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.EXE.MANIFEST" Name="ResearchDataManagementPlatform.exe.manifest" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.exe.manifest" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.PDB" Name="ResearchDataManagementPlatform.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.pdb" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.VSHOST.APPLICATION" Name="ResearchDataManagementPlatform.vshost.application" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.vshost.application" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.VSHOST.EXE" Name="ResearchDataManagementPlatform.vshost.exe" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.vshost.exe" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.VSHOST.EXE.CONFIG" Name="ResearchDataManagementPlatform.vshost.exe.config" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.vshost.exe.config" />
              <File Id="RESEARCHDATAMANAGEMENTPLATFORM.VSHOST.EXE.MANIFEST" Name="ResearchDataManagementPlatform.vshost.exe.manifest" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ResearchDataManagementPlatform.vshost.exe.manifest" />
              <File Id="REUSABLEUICOMPONENTS.DLL" Name="ReusableUIComponents.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ReusableUIComponents.dll" />
              <File Id="REUSABLEUICOMPONENTS.PDB" Name="ReusableUIComponents.pdb" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ReusableUIComponents.pdb" />
              <File Id="REUSABLEUICOMPONENTS.XML" Name="ReusableUIComponents.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ReusableUIComponents.xml" />
              <File Id="SCINTILLANET.DLL" Name="ScintillaNET.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ScintillaNET.dll" />
              <File Id="SCINTILLANET.XML" Name="ScintillaNET.xml" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\ScintillaNET.xml" />
              <File Id="SOURCECODEFORSELFAWARENESS.ZIP" Name="SourceCodeForSelfAwareness.zip" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\SourceCodeForSelfAwareness.zip" />
              <File Id="WEIFENLUO.WINFORMSUI.DOCKING.DLL" Name="WeifenLuo.WinFormsUI.Docking.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\WeifenLuo.WinFormsUI.Docking.dll" />
              <File Id="WEIFENLUO.WINFORMSUI.DOCKING.THEMEVS2015.DLL" Name="WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" Source="..\Application\ResearchDataManagementPlatform\bin\Debug\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
              <File Id="BUNDLEUPSOURCEINTOZIP.EXE" Name="BundleUpSourceIntoZip.exe" Source="..\Plugin\Plugin\bin\Debug\BundleUpSourceIntoZip.exe" />
              <File Id="BUNDLEUPSOURCEINTOZIP.PDB" Name="BundleUpSourceIntoZip.pdb" Source="..\Plugin\Plugin\bin\Debug\BundleUpSourceIntoZip.pdb" />
              <File Id="BUNDLEUPSOURCEINTOZIP.XML" Name="BundleUpSourceIntoZip.xml" Source="..\Plugin\Plugin\bin\Debug\BundleUpSourceIntoZip.xml" />
              <File Id="HIC.RDMP.PLUGIN.DLL" Name="HIC.RDMP.Plugin.dll" Source="..\Plugin\Plugin\bin\Debug\HIC.RDMP.Plugin.dll" />
              <File Id="HIC.RDMP.PLUGIN.PDB" Name="HIC.RDMP.Plugin.pdb" Source="..\Plugin\Plugin\bin\Debug\HIC.RDMP.Plugin.pdb" />
              <File Id="HIC.RDMP.PLUGIN.XML" Name="HIC.RDMP.Plugin.xml" Source="..\Plugin\Plugin\bin\Debug\HIC.RDMP.Plugin.xml" />
              <File Id="HIC.RDMP.PLUGIN.UI.DLL" Name="HIC.RDMP.Plugin.UI.dll" Source="..\Plugin\Plugin.UI\bin\Debug\HIC.RDMP.Plugin.UI.dll" />
              <File Id="HIC.RDMP.PLUGIN.UI.PDB" Name="HIC.RDMP.Plugin.UI.pdb" Source="..\Plugin\Plugin.UI\bin\Debug\HIC.RDMP.Plugin.UI.pdb" />
              <File Id="PLUGIN.SETTINGS.DLL" Name="Plugin.Settings.dll" Source="..\Reusable\ReusableLibraryCode\bin\Debug\Plugin.Settings.dll" />
              <File Id="PLUGIN.SETTINGS.PDB" Name="Plugin.Settings.pdb" Source="..\Reusable\ReusableLibraryCode\bin\Debug\Plugin.Settings.pdb" />
              <File Id="PLUGIN.SETTINGS.XML" Name="Plugin.Settings.xml" Source="..\Reusable\ReusableLibraryCode\bin\Debug\Plugin.Settings.xml" />
              <File Id="QUICKGRAPH.DATA.DLL" Name="QuickGraph.Data.dll" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Data.dll" />
              <File Id="QUICKGRAPH.DATA.XML" Name="QuickGraph.Data.xml" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Data.xml" />
              <File Id="QUICKGRAPH.GRAPHVIZ.DLL" Name="QuickGraph.Graphviz.dll" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Graphviz.dll" />
              <File Id="QUICKGRAPH.GRAPHVIZ.XML" Name="QuickGraph.Graphviz.xml" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Graphviz.xml" />
              <File Id="QUICKGRAPH.SERIALIZATION.DLL" Name="QuickGraph.Serialization.dll" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Serialization.dll" />
              <File Id="QUICKGRAPH.SERIALIZATION.XML" Name="QuickGraph.Serialization.xml" Source="..\Reusable\ReusableUIComponents\bin\Debug\QuickGraph.Serialization.xml" />
              <File Id="RDMPAUTOMATIONSERVICE.APPLICATION" Name="RDMPAutomationService.application" Source="..\Tools\RDMPAutomationService\bin\Debug\RDMPAutomationService.application" />
              <File Id="RDMPAUTOMATIONSERVICE.EXE.MANIFEST" Name="RDMPAutomationService.exe.manifest" Source="..\Tools\RDMPAutomationService\bin\Debug\RDMPAutomationService.exe.manifest" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>