<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebdavAutodowloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <WebdavAutodowloader.Properties.Settings>
            <setting name="Endpoint" serializeAs="String">
                <value>https://hiccloud1.dundee.ac.uk/</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value>/remote.php/webdav/HICCLOUD/</value>
            </setting>
            <setting name="RemoteFolder" serializeAs="String">
                <value>Leandro</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>ltramma</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </WebdavAutodowloader.Properties.Settings>
    </applicationSettings>
</configuration>