<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RDMPAutomationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="ColoredConsole" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}"/>
      <target xsi:type="File" name="log4j" fileName="${specialfolder:folder=ApplicationData}/rdmp/logs/${shortdate}-log4j.log" layout="${log4jxmlevent}" />
      <target xsi:type="File" name="simple" fileName="${specialfolder:folder=ApplicationData}/rdmp/logs/${shortdate}-simple.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
       <target xsi:type="Network" name="u" address="udp4://localhost:878" layout="${log4jxmlevent}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      
      <!-- Other logging options, make sure your user account can write to ${specialfolder:folder=ApplicationData}/rdmp/logs/
      <logger name="*" minlevel="Trace" writeTo="log4j" />
      <logger name="*" minlevel="Trace" writeTo="simple" />-->
      
    </rules>
  </nlog>
  <applicationSettings>
    <RDMPAutomationService.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>localhost\sqlexpress</value>
      </setting>
      <setting name="CatalogueDB" serializeAs="String">
        <value>RDMP_Catalogue</value>
      </setting>
      <setting name="DataExportDB" serializeAs="String">
        <value>RDMP_DataExport</value>
      </setting>
      <setting name="ForceSlot" serializeAs="String">
        <value>1</value>
      </setting>
    </RDMPAutomationService.Properties.Settings>
  </applicationSettings>
</configuration>
