<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <applicationSettings xdt:Transform="Replace">
        <RDMPAutomationService.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>SQL-DE-01</value>
            </setting>
            <setting name="CatalogueDB" serializeAs="String">
                <value>EOS_DataCatalogue</value>
            </setting>
            <setting name="DataExportDB" serializeAs="String">
                <value>EOS_DataExportManager2</value>
            </setting>
            <setting name="ForceSlot" serializeAs="String">
                <value>1</value>
            </setting>
        </RDMPAutomationService.Properties.Settings>
    </applicationSettings>
</configuration>