<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DEMROOTDIRECTORY">
            <Component Id="dem_cmp22C3ED249537F4BED9AD7D1F0646BF7B" Guid="*">
                <File Id="dem_filE22DC9359A5D467FBF3DF5584EAC0738" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DataExportManager2.exe.config" />
            </Component>
            <Component Id="dem_CatalogueManager.exe" Guid="*">
                <File Id="dem_fil_CatalogueManager.exe" KeyPath="yes" Source="$(var.CatalogueManager.TargetDir)\CatalogueManager.exe" />
            </Component>
            <!-- Needed for interactions with CatalogueManager-->
            <Component Id="dem_cmp6979CA6ACDFB42F0ABD53E76861FBDA4" Guid="*">
                <File Id="dem_9B8B9E4D19C243D3807E96970DE01E04" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ANOStore.Database.dll" />
            </Component>
            <Component Id="dem_cmp6B586ED4AA5A48C140B3B99977D3ABBF" Guid="*">
                <File Id="dem_EA5244245B6749FDBDC1F05A70536062" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DataExportManager2.exe" />
            </Component>
            <Component Id="dem_cmp1299D860447B69ABB60A5D1B7A7A9152" Guid="*">
                <File Id="dem_fil79ABC74E8A90C11C077E4CD2D0FDC0DE" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\CatalogueLibrary.dll" />
            </Component>
            <Component Id="dem_cmp98AC5FD113B4445F8C1636967B9D5C20" Guid="*">
                <File Id="dem_fil78609F2926B5422BAFC2F56578A1AD8F" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\CatalogueLibrary.Database.dll" />
            </Component>
            <Component Id="dem_cmpE507A1C6BB441CEB0F38DD2D4AD3F3A2" Guid="*">
                <File Id="dem_fil5A65BEF9C3E00B4AE3E8F0F569C83979" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\CsvHelper.dll" />
            </Component>
            <Component Id="dem_cmpCA31154B59581219A1C65A7E5ED4AAA6" Guid="*">
                <File Id="dem_fil88EE93C520D09B9AB5C6769D42BE38CF" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DataExportManager2Library.dll" />
            </Component>
            <Component Id="dem_cmp5F7E47D2429445C184022E8498DA1C74" Guid="*">
                <File Id="dem_filC7997951B39C4F7B99E08CFD617CCBBD" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DataExportManager2.Database.dll" />
            </Component>
            <Component Id="dem_cmp0CDD720EB88C6F8C12B594314822EBC2" Guid="*">
                <File Id="dem_fil0FBF3B5405043D3FA81AC2F3CFD59AF2" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DataLoadEngine.dll" />
            </Component>
            <Component Id="dem_cmp2A29C8F2C8F15BC3BA27BC3BAB20EA75" Guid="*">
                <File Id="dem_fil5DD39397EBB2034071A70B156A02C95E" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Diagnostics.dll" />
            </Component>
            <Component Id="dem_cmp569093E4C65002B37D445741DC115569" Guid="*">
                <File Id="dem_filDB71C4B5384E56BC52E8B65EE2E6CA30" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Dicom.dll" />
            </Component>
            <Component Id="dem_cmpC7CF8466CA81199E73AD23F1CFD4B9D1" Guid="*">
                <File Id="dem_fil552B5602D0FE9F71CE1675CA8A9B7205" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\DiffieHellman.dll" />
            </Component>
            <Component Id="dem_cmp29AB443805EC477AA2635260717FFA72" Guid="*">
                <File Id="dem_fil0919C80CD7F749DC9518AB824CCEC0CB" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\FluentNHibernate.dll" />
            </Component>
            <Component Id="dem_cmp4FC339D24F7444579A4969A8998D1350" Guid="*">
                <File Id="dem_fil6CF3F44E01444702A0015D9CBC895509" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\GraphX.Controls.dll" />
            </Component>
            <Component Id="dem_cmp3284885E6BA04B7A8D0746D369946AD7" Guid="*">
                <File Id="dem_filCA41CDA1ACC5445C819C3B9800FF8841" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\GraphX.PCL.Common.dll" />
            </Component>
            <Component Id="dem_cmp6F4D35F6CDA54F75B30EF0AC7B011993" Guid="*">
                <File Id="dem_fil8C46B444EE1A4112A3B8F9EE2787AD91" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\GraphX.PCL.Logic.dll" />
            </Component>
            <Component Id="dem_cmp8C749D48B68C4C29D549A016A0D71015" Guid="*">
                <File Id="dem_filE0AFA3C0408C18465BE10AB8367EC521" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\HIC.Logging.dll" />
            </Component>
            <Component Id="dem_cmp6DCAB764AADD4A7EB4DCA30372D96D4C" Guid="*">
                <File Id="dem_filFA121395177D4100A4D30C128AB6220B" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\HIC.Logging.Database.dll" />
            </Component>
            <Component Id="dem_cmp612B8EDB65D51904C1652A7E7B28F59F" Guid="*">
                <File Id="dem_filC4FB21276BDBCDD1F4E7BF8A7F45C4A5" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="dem_cmpBC7CC8633C9D4A0ABC0FB89EC10368C6" Guid="*">
                <File Id="dem_fil38377D12D65C477B9BD18E1C60E53A83" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Iesi.Collections.dll" />
            </Component>
            <Component Id="dem_cmp842C8E0262D9ECF381FA551D8D181FF3" Guid="*">
                <File Id="dem_fil879AE43C6A45FBF84DC487EF56FB747B" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\LoadModules.Generic.dll" />
            </Component>
            <Component Id="dem_cmp21F309C806FA488DFFFE5378BCF611FF" Guid="*">
                <File Id="dem_fil144615CECAA1643F18747602C1CE74E7" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\log4net.config" />
            </Component>
            <Component Id="dem_cmpACB6CD6FFB2A84501BD9E8392459FA45" Guid="*">
                <File Id="dem_fil53CF67BC1F7314B08C1D64A6CEA223E4" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\log4net.dll" />
            </Component>
            <Component Id="dem_cmp6249D07397494894AF7C81F88380D40E" Guid="*">
                <File Id="dem_filD2E1C3ABFD3946BEA77471FD3FF455D4" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\MapsDirectlyToDatabaseTable.dll" />
            </Component>
            <Component Id="dem_cmpEA91A1CAC0A304287222B9432625E816" Guid="*">
                <File Id="dem_filC092736C4A64C000E1A264349D6E0CCB" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\MySql.Data.dll" />
            </Component>
            <Component Id="dem_cmpA38A81F41EBC6C795F530AF736168DD0" Guid="*">
                <File Id="dem_filD99192F3EF926B0696A896924D4A93A9" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\NLog.dll" />
            </Component>
            <Component Id="dem_cmp31DD069827FB41569AD7712013DF5567" Guid="*">
                <File Id="dem_fil51966496D5FA44CEA9B5E38B30268E9B" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\NHibernate.dll" />
            </Component>
            <Component Id="dem_cmp885201FE426047EEA4398F7F551F7D4B" Guid="*">
                <File Id="dem_filE2C01E23651045CB977D410FB21A7B09" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ObjectListView.dll" />
            </Component>
            <Component Id="dem_cmpC2255923CCE5D193305E160FBD29CA49" Guid="*">
                <File Id="dem_fil131AF8D114BDC5779E719BB8E000F2A6" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Org.Mentalis.Security.dll" />
            </Component>
            <Component Id="dem_cmpFAF663D628644338A0E7B97FFBB00029" Guid="*">
                <File Id="dem_filF5E62D9BCC3B4C078A14D05073E9D0A8" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\QuickGraph.dll" />
            </Component>
            <Component Id="dem_cmp1F89DEDF044D48A1908431AF8FFAB4B1" Guid="*">
                <File Id="dem_fil686253DBD5484A43B1927B9CF9BD7293" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\RDMPObjectVisualisation.dll" />
            </Component>
            <Component Id="dem_cmp47B814B56D7A2EAEF582D37497796325" Guid="*">
                <File Id="dem_fil2800066FBE8546E4819A636F17F53FA9" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ReusableLibraryCode.dll" />
            </Component>
            <Component Id="dem_cmp033D828C9CCC80FBF4E9CD673BFDA264" Guid="*">
                <File Id="dem_fil6DF3C397FADEBA59573130431A211DBC" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ReusableUIComponents.dll" />
            </Component>
            <Component Id="dem_cmp778D9282A2054B849675BC7C095AB8EB" Guid="*">
                <File Id="dem_filDD0A88B30ECC4D9B91967989D3F907EB" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Restsharp.dll" />
            </Component>
            <Component Id="dem_cmpDCB3F8B05400425FA55FDCF010BC2B79" Guid="*">
                <File Id="dem_filA040CC97FD124DB5ACA17F07C117DB95" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\roundhouse.databases.sqlserver.dll" />
            </Component>
            <Component Id="dem_cmp4892F6E318F642EABBA89A9F070FD941" Guid="*">
                <File Id="dem_filB05DE86496674966A760FC1AB9AA5D95" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\roundhouse.dll" />
            </Component>
            <Component Id="dem_cmp10A8D2BEB419A4BD4E7A3F808C0713E2" Guid="*">
                <File Id="dem_filE16BFF406FF8805F55B6FEBF17269B36" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\SciLexer.dll" />
            </Component>
            <Component Id="dem_cmpFD90520610D2D16C043B553B731DC300" Guid="*">
                <File Id="dem_filF313C767F04D281A1D154EF46A28DC51" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\SciLexer64.dll" />
            </Component>
            <Component Id="dem_cmp447D3EF9ED34A4D54692D40FB6E15F35" Guid="*">
                <File Id="dem_filFC7B7595A145BC9B57C56F356F1EB4B8" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ScintillaNET.dll" />
            </Component>
            <Component Id="dem_cmp5123E10D7237F2459A2F6600D6E9621A" Guid="*">
                <File Id="dem_filC54E916FB59050E9EB98E9810FA2487C" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Tamir.SharpSSH.dll" />
            </Component>
            <Component Id="dem_cmpB15EA70BED79427ABE8091C253C637D9" Guid="*">
                <File Id="dem_filAE4FCCE49AA64633B7B7BD38D1833B75" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\Ticketing.dll" />
            </Component>
            <Component Id="dem_cmp87E0CE7C333DECAA55C968CAA3009409" Guid="*">
                <File Id="dem_fil989A51E2BE9A1BDCA82EFB30A7BBD156" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ValidationLibrary.dll" />
            </Component>
            <Component Id="dem_cmpB0E0AA7232F3908A62F48D1303BD0C98" Guid="*">
                <File Id="dem_fil180CF7293170539C037AF54BFCADF604" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ValidationUI.exe" />
            </Component>
            <Component Id="dem_cmpA851CBFAFB2688CAF398592F2BE0C289" Guid="*">
                <File Id="dem_fil7F68EF6960CF494D1713FDCEE34F40D4" KeyPath="yes" Source="$(var.DataExportManager2 _DataExportManager2\DataExportManager2_.TargetDir)\ValidationUtilities.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    
    
    
    
    <Fragment>
        
        <ComponentGroup Id="DataExportManager.Assemblies">
            <ComponentRef Id="dem_CatalogueManager.exe"/>
            <ComponentRef Id="dem_cmp6B586ED4AA5A48C140B3B99977D3ABBF" />
            <ComponentRef Id="dem_cmp22C3ED249537F4BED9AD7D1F0646BF7B" />
            <ComponentRef Id="dem_cmp1299D860447B69ABB60A5D1B7A7A9152" />
            <ComponentRef Id="dem_cmp98AC5FD113B4445F8C1636967B9D5C20" />
            <ComponentRef Id="dem_cmpE507A1C6BB441CEB0F38DD2D4AD3F3A2" />
            <ComponentRef Id="dem_cmpCA31154B59581219A1C65A7E5ED4AAA6" />
            <ComponentRef Id="dem_cmp5F7E47D2429445C184022E8498DA1C74" />
            <ComponentRef Id="dem_cmp0CDD720EB88C6F8C12B594314822EBC2" />
            <ComponentRef Id="dem_cmp2A29C8F2C8F15BC3BA27BC3BAB20EA75" />
            <ComponentRef Id="dem_cmp569093E4C65002B37D445741DC115569" />
            <ComponentRef Id="dem_cmpC7CF8466CA81199E73AD23F1CFD4B9D1" />
            <ComponentRef Id="dem_cmp29AB443805EC477AA2635260717FFA72" />
            <ComponentRef Id="dem_cmp8C749D48B68C4C29D549A016A0D71015" />
            <ComponentRef Id="dem_cmp6DCAB764AADD4A7EB4DCA30372D96D4C" />
            <ComponentRef Id="dem_cmp612B8EDB65D51904C1652A7E7B28F59F" />
            <ComponentRef Id="dem_cmpBC7CC8633C9D4A0ABC0FB89EC10368C6" />
            <ComponentRef Id="dem_cmp842C8E0262D9ECF381FA551D8D181FF3" />
            <ComponentRef Id="dem_cmp21F309C806FA488DFFFE5378BCF611FF" />
            <ComponentRef Id="dem_cmpACB6CD6FFB2A84501BD9E8392459FA45" />
            <ComponentRef Id="dem_cmp6249D07397494894AF7C81F88380D40E" />
            <ComponentRef Id="dem_cmpEA91A1CAC0A304287222B9432625E816" />
            <ComponentRef Id="dem_cmpA38A81F41EBC6C795F530AF736168DD0" />
            <ComponentRef Id="dem_cmp31DD069827FB41569AD7712013DF5567" />
            <ComponentRef Id="dem_cmpC2255923CCE5D193305E160FBD29CA49" />
            <ComponentRef Id="dem_cmp47B814B56D7A2EAEF582D37497796325" />
            <ComponentRef Id="dem_cmp033D828C9CCC80FBF4E9CD673BFDA264" />
            <ComponentRef Id="dem_cmpDCB3F8B05400425FA55FDCF010BC2B79" />
            <ComponentRef Id="dem_cmp4892F6E318F642EABBA89A9F070FD941" />
            <ComponentRef Id="dem_cmp10A8D2BEB419A4BD4E7A3F808C0713E2" />
            <ComponentRef Id="dem_cmpFD90520610D2D16C043B553B731DC300" />
            <ComponentRef Id="dem_cmp447D3EF9ED34A4D54692D40FB6E15F35" />
            <ComponentRef Id="dem_cmp5123E10D7237F2459A2F6600D6E9621A" />
            <ComponentRef Id="dem_cmp87E0CE7C333DECAA55C968CAA3009409" />
            <ComponentRef Id="dem_cmpB0E0AA7232F3908A62F48D1303BD0C98" />
            <ComponentRef Id="dem_cmpA851CBFAFB2688CAF398592F2BE0C289" />
            <ComponentRef Id="dem_cmp778D9282A2054B849675BC7C095AB8EB" />
            <ComponentRef Id="dem_cmp6979CA6ACDFB42F0ABD53E76861FBDA4" />
            <ComponentRef Id="dem_cmp4FC339D24F7444579A4969A8998D1350" />
            <ComponentRef Id="dem_cmp3284885E6BA04B7A8D0746D369946AD7" />
            <ComponentRef Id="dem_cmp6F4D35F6CDA54F75B30EF0AC7B011993" />
            <ComponentRef Id="dem_cmp885201FE426047EEA4398F7F551F7D4B" />
            <ComponentRef Id="dem_cmpFAF663D628644338A0E7B97FFBB00029" />
            <ComponentRef Id="dem_cmp1F89DEDF044D48A1908431AF8FFAB4B1" />
            <ComponentRef Id="dem_cmpB15EA70BED79427ABE8091C253C637D9" />
        </ComponentGroup>
        
    </Fragment>
</Wix>