<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id ="PACS" Directory ="LOADERPLUGINS">
      <!--<Component Id ="PACS.dll" Guid = "da957289-2d63-47ba-a3d5-a26c22874739">
        <File Id="DataLoadEngine.LoadModules.Specific.PACS" KeyPath ="yes" Assembly="no" Source = "$(var.LoadModules.Specific.PACS.TargetDir)DataLoadEngine.LoadModules.Specific.PACS.dll"/>
      </Component>-->
    </ComponentGroup>
	</Fragment>
</Wix>